!!! HTML

%head
	%title Lasertag Webinterface
	:scss
		html {
			height: 100%;
		}
		body {
			background-color: #000000;
			height: 95%;
		}

		.content-div {
			background-color: #0f0f0f;
			color: #cccccc;

			margin: 0 auto 0 auto;
			padding-top: 0;
			padding-bottom: 0;

			height: 100%;
			width: 500px;
		}

		.centered {
			text-align: center;
		}
%body
	.content-div
		= yield
