%h1.centered Currently connected players:

%ul#playerList

%svg#testSVG{width: 200, height: 200}

:javascript
	function polyPoints(size, offsetX = 0, offsetY = 0) {
		var polygonString = "";

		for (i=0; i<6; i++) {
			var angle = i * Math.PI/3;
			var xPos = Math.cos(angle) * size + offsetX;
			var yPos = Math.sin(angle) * size + offsetY;

			polygonString += Math.round(xPos) + "," + Math.round(yPos);
			if(i!=5) {polygonString += " ";}
		}

		return polygonString;
	}

	var containerSVG = $("#testSVG");
	var newPolygon = document.createElementNS("http://www.w3.org/2000/svg", "polygon");

	newPolygon.setAttribute("points",polyPoints(10, 100, 100));
	console.log(polyPoints(10));
	newPolygon.style.fill = "lime";
	newPolygon.style.stroke = "purple";
	newPolygon.style.strokeWidth = "2"

	containerSVG.append(newPolygon);

	setInterval(function() { $("#playerList").load("/Players.XHR", function() {
		$(".playerInfoBox").hover(
			function() {
				$(this).children("ul").slideDown();
			},
			function() {
				$(this).children("ul").slideUp();
			}
			);
	});}, 3000);
