%h1.centered Currently connected players:

%ul#playerList

:javascript
	function updatePlayers() {
		var playerUpdate = new XMLHttpRequest();
		playerUpdate.open("GET", "/Players.XHR", true);
		playerUpdate.onreadystatechange = function() {
			if(this.readyState == 4) {
				document.getElementById("playerList").innerHTML = this.responseText;

				setTimeout(updatePlayers, 1000);
			}
		}
		playerUpdate.send();
	}

	updatePlayers();
