%h1.centered Currently connected players:

%ul.playerList
	- settings.game.each do |pName, player|
		%li&= player.inspect

.centered{style: "position: relative;"}
	%div{style: "z-index: 2; display: block;"}
		Test!
	.brightness-6{style: "background-color: red; z-index: 1;"}
