%h1.centered Currently connected players:

%ul.playerList
	- settings.game.each do |pName, player|
		%li&= player.inspect

- (1..360).step(30).each do |i|
	.brightness-wrapper
		%div{class: "brightness-6", style: "background-color: hsl(#{i}, 100%, 50%); animation-delay: #{i}ms;"}
		.brightness-content.centered
			Test!
