html {
	height: 100%;
}
body {
	background-color: #000000;
	height: 95%;
}

@keyframes unfold {
	from { height: 0px; }
	to { height: 100%; }
}
.content-div {
	background-color: #0f0f0f;
	color: #cccccc;

	margin: 0 auto 0 auto;
	padding-top: 0;
	padding-bottom: 0;

	width: 500px;

	animation-name: unfold;
	animation-duration: 1500ms;
	animation-delay: 150ms;
	animation-fill-mode: both;
}

@keyframes brightness-6-frames {
	0% 	{ opacity: 0; }
	50%	{ opacity: 0.5; }
	100%	{ opacity: 0; }
}

.brightness-6 {
	position: absolute;

	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;

	animation-name: brightness-6-frames;
	animation-duration: 1080ms;
	animation-iteration-count: infinite;
	animation-delay: 0s;
}

.centered {
	text-align: center;
	width: auto;
}
